@use '../../styles/importer' as *;

.pizzaList {
    flex-grow: 1;

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        justify-content: space-between;

        @include fluid-column-gap(35, 20);

        @include fluid-raw-gap(65, 50);

        @include media(desktop) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include media(tablet) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media(mobile) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
