$color-black: #000;
$color-dark: #2c2c2c;
$color-orange: #fe5f1e;
$color-orange-hover: #b84e1a;
$color-ligth: #fff;
$color-bg: #ffdf8c;
$color-grey: #f9f9f9;

$border-radius-button: 7px;

$width: 1340px;

$margin-page-desktop: 50px;
$margin-page-tablet: 30px;
$padding-page-desktop: 50px;
$padding-page-tablet: 40px;
$padding-page-mobile: 15px;


$gap-Y-desktop: 50px;
$gap-Y-tablet: 30px;

$padding-page-desktop: 50px;
$padding-page-tablet: 40px;
$padding-page-mobile: 15px;